body {
  display: grid;
  grid template-rows: 1fr auto 1fr;
  grid-template-areas:  "header"
                        "main"
                        "footer";

}
.nav-links { 
  
  display: grid; 
  width: 100vw;
  grid-template-columns: 1fr 1fr 1fr;
  
  grid-template-areas: "dropbtn payment header-logo";  
  justify-items: center;
  align-items: center;
} 
.header {
  grid-area: header;
  background: linear-gradient(10deg, rgba(86,177,191,1), rgba(3,43,47,0.9), rgba(3,10,85,1));
  border-bottom: 0.2px solid #d3d3d3; 
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
  color: #3c3c3c;
  position: fixed;
  width: 100vw;
  z-index: 20;

}
.header-logo {
  grid-area: header-logo;
  padding: 2px;
}
.header-logo img{
  width: 55px;
}
.payment {
  grid-area: payment;

}
.nav-links a, .dropbtn {
  color: #f3f3f3;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.dropdown:hover,
.dropdown:active {
  background-color: #485;
}
.nav-links a:hover,
.nav-links a:active,
.dropdown-content a:hover,
.dropbtn{
  grid-area: dropbtn;
  color: #485;

}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    border-radius: 3px;
    border: 1px solid #d3d3d3; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 0.8s;    
}

.dropdown-content a {
    color: #3c3c3c;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.show{
    display: block;
}
.container {
    display: inline-block;
    cursor: pointer;
}
@keyframes bars {
    from {background-color: #f3f3f3;}
    to {background-color: #3c3c3c;}
}
.bar1, .bar2, .bar3 {
    border-radius: 1px;
    width: 35px;
    height: 5px;
    background-color: #f3f3f3;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    animation-name: bars;
    animation-duration: 0.4s;
    background-color: #3c3c3c;
}

.change .bar2 {
    opacity: 0;
      animation-name: bars;
    animation-duration: 0.4s;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    animation-name: bars;
    animation-duration: 0.4s;
    background-color: #3c3c3c;
}
/* END HEADER */

.main {
  grid-area: main;
  background: linear-gradient(-115deg, #5bc, #fff);
  height: 300vh;
  padding-top: 70px; 
}
.footer {
  grid-area: footer;
  background-color: #ddd;
  height: 100px;
}
.footer img{
  width: 100px;
}
