<header class="header">
      <div class="nav-links">
        <div class="payment"><a href="/">Payments</a></div>
        <div> 
          <div class= "container" onclick="myFunction(this)">
            <div class="dropdown bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </div> 
          <div id="myDropdown" class ="dropdown-content">
            <a href="/about">About us</a>
            <a href="/staff">Our staff</a>
            <a href="/tasks">Cleaning Tasks</a>            
            <a href="/products">Our supplies</a>
            <a href="/payment">Make a payment</a>
            <a href="/contact">Contact</a>
            <a href="/employment">Employment</a>
          </div>
        </div>
        <div class="header-logo">
        <a href="/">
          <img src="/images/cmoon-swatch-512.png" alt="Clean Endings">
        </a>
        </div>
      </div>
  </header>